.phone-list {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));

  .phone-card {
  }
}
