.list-main {
  display: flex;
  flex-direction: column;

  .list-add-button-container {
    text-align: right;
    margin: 1rem 2rem;

    button {
      width: 6rem;
      height: 2rem;
    }
  }

  .phone-list {
    list-style-type: none;
    padding: 0;
    margin: 2rem;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  }
}
