/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none; /* no underline */
}

button {
  border: 0;
  background-color: #008cba;
  border-radius: 0.4rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}
