<div
  *ngIf="phoneData | async as data; else loading"
  [ngClass]="{ 'phone-disabled': disabled }"
>
  <div class="detail-delete-button">
    <span>{{ data.name }}</span>
    <div>
      <button (click)="editPhone()">Edit</button>
      <button (click)="deletePhone()">Delete</button>
    </div>
  </div>
  <div class="phone-detail">
    <div class="phone-detail-image">
      <img
        src="/assets/images/{{ data.imageFileName }}"
        alt="{{ data.imageFileName }}"
      />
    </div>
    <div class="phone-detail-info">
      <form [formGroup]="phoneDetailGroup" novalidate>
        <div class="form-group">
          <label>Nombre</label>
          <input class="form-control" formControlName="name" />
        </div>

        <div class="form-group">
          <label>Fabricante</label>
          <input
            class="form-control"
            formControlName="manufacturer"
            type="text"
          />
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <textarea
            class="form-control"
            formControlName="description"
            type="text"
          ></textarea>
        </div>

        <div class="form-group">
          <label>Color</label>
          <input class="form-control" formControlName="color" type="text" />
        </div>

        <div class="form-group">
          <label>Precio</label>
          <input class="form-control" formControlName="price" type="number" />
        </div>

        <div class="form-group">
          <label>Pantalla</label>
          <input class="form-control" formControlName="screen" type="text" />
        </div>

        <div class="form-group">
          <label>Procesador</label>
          <input class="form-control" formControlName="processor" type="text" />
        </div>

        <div class="form-group">
          <label>Ram (Gigabytes)</label>
          <input class="form-control" formControlName="ram" type="number" />
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #loading><spinner></spinner></ng-template>
