.phone-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.detail-delete-button {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;

  span {
    font-size: 24px;
    font-weight: bold;
    flex: 1 1 100px;
  }

  div {
    button {
      text-align: center;
      margin-left: 2rem;
      width: 6rem;
      height: 2rem;
    }
  }
}

.phone-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;

  .phone-detail-image {
    margin: 0 4rem;
    flex: 0 1 auto;
  }

  .phone-detail-info {
    margin: 0 4rem;
    flex: 0 1 600px;

    .form-group {
      margin-bottom: 1.2rem;

      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }

      input,
      textarea {
        &:not(.ng-valid) {
          background-color: #eee;
        }
      }

      button {
        height: 2rem;
        width: 6rem;
      }

      .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      }

      input {
        height: 1.2rem;
      }

      textarea {
        height: 6rem;
      }
    }
  }
}

.submit-button {
  display: flex;
  justify-content: end;
}
